beautifulsoup4==4.8.2
bokeh==1.4.0
contractions==0.0.25
en-vectors-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_vectors_web_lg-2.3.0/en_vectors_web_lg-2.3.0.tar.gz
gensim==3.8.3
ghp-import==1.0.0
grpcio==1.32.0
imageio==2.6.1
imagesize==1.2.0
jieba==0.42.1
jupyter-book==0.8.1
jupyter-nbextensions-configurator==0.4.1
jupyter-sphinx==0.3.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
Keras==2.4.3
ktrain==0.21.4
matplotlib==3.3.2
nltk==3.4.5
notebook==6.0.3
numpy==1.18.1
pandas==1.1.2
plotnine==0.7.1
pyvis==0.1.8.2
rpy2==3.3.6
scikit-learn==0.22.1
seaborn==0.11.0
spacy==2.3.2
scipy==1.4.1
tensorflow==2.3.0
zh-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_lg-2.3.1/zh_core_web_lg-2.3.1.tar.gz
