3to2==1.1.1
absl-py @ file:///opt/concourse/worker/volumes/live/5183a274-c173-4ec1-5db6-bf74e5e0e067/volume/absl-py_1600297518967/work
alabaster==0.7.12
appdirs==1.4.4
applib==1.2
appnope==0.1.0
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.8.2
bleach==3.2.1
blis==0.4.1
bokeh==1.4.0
boto3==1.15.14
botocore==1.18.14
cachetools==4.1.1
catalogue==1.0.0
cchardet==2.1.6
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
ckiptagger==0.2.1
click==7.1.2
cmdln==2.0.0
colorama==0.4.3
contractions==0.0.25
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
docutils==0.16
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
en-vectors-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_vectors_web_lg-2.3.0/en_vectors_web_lg-2.3.0.tar.gz
entrypoints==0.3
esprima==4.0.1
fastprogress==1.0.0
filelock==3.0.12
gast==0.3.3
gensim==3.8.3
ghp-import==1.0.0
gitdb==4.0.5
GitPython==3.1.9
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
h5py @ file:///opt/concourse/worker/volumes/live/98bee3fd-2687-4017-5421-d742d1f18c35/volume/h5py_1593454156895/work
idna==2.10
imageio==2.6.1
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
Inflector==3.0.1
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipython-tikzmagic @ git+git://github.com/mkrphys/ipython-tikzmagic.git@499bc199f6f028a62b8598dc5a7c5b6e71d77d83
ipywidgets==7.5.1
itikz==0.1.5
jedi==0.17.2
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
json5==0.9.5
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter-book==0.8.1
jupyter-cache==0.4.1
jupyter-client==6.1.7
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-sphinx==0.3.1
jupyterlab==2.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterthemes==0.20.0
Keras==2.4.3
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
keras-bert==0.86.0
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.46.0
keras-transformer==0.38.0
kiwisolver==1.2.0
ktrain==0.21.4
langdetect==1.0.8
latexcodec==2.0.1
lesscpy==0.14.0
libclang-py3==3.9.0
llvmlite==0.34.0
lxml==4.5.2
Markdown @ file:///opt/concourse/worker/volumes/live/999d2d62-5989-4105-6e2c-b665eaebdbfb/volume/markdown_1603216489061/work
markdown-it-py==0.5.5
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mizani==0.7.1
mkl-service==2.3.0
murmurhash==1.0.2
myst-nb==0.10.1
myst-parser==0.12.10
nbclient==0.5.0
nbconvert==6.0.7
nbdime==2.1.0
nbformat==5.0.7
nest-asyncio==1.4.1
networkx==2.5
nltk==3.4.5
nnv==0.0.4
notebook==6.1.4
numba==0.51.2
numpy @ file:///opt/concourse/worker/volumes/live/64f0b686-a174-4704-510f-b753eb84d6a0/volume/numpy_and_numpy_base_1603570490842/work
oauthlib==3.1.0
opt-einsum==3.1.0
oset==0.1.3
packaging==20.4
palettable==3.3.0
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkuseg==0.0.25
plac==1.1.3
plotnine==0.7.1
pluggy==0.13.1
ply==3.11
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
pyahocorasick==1.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.22.2
pybtex-docutils==0.2.2
pycairo==1.19.1
pycparser==2.20
pydata-sphinx-theme==0.4.1
Pygments==2.7.1
pylangacq==0.11.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.1
python-dateutil==2.8.1
python-igraph==0.8.2
pytz==2020.1
pyvis==0.1.8.2
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.9.27
requests==2.24.0
requests-oauthlib==1.3.0
rpy2==3.3.6
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.22.1
scipy @ file:///opt/concourse/worker/volumes/live/7114cc5a-074a-43ee-4c3e-e15a7587e2c8/volume/scipy_1597719809786/work
seaborn==0.11.0
Send2Trash==1.5.0
sentencepiece==0.1.91
seqeval==0.0.19
six==1.15.0
smart-open==2.2.1
smmap==3.0.4
snap-stanford==5.0.0
snowballstemmer==2.0.0
soupsieve==2.0.1
spacy==2.3.2
Sphinx==3.2.1
sphinx-book-theme==0.0.38
sphinx-comments==0.0.3
sphinx-copybutton==0.3.0
sphinx-panels==0.4.1
sphinx-thebe==0.0.7
sphinx-togglebutton==0.2.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.19
srsly==1.0.2
statsmodels==0.12.0
syntok==1.3.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.9.1
testfixtures==6.15.0
testpath==0.4.4
textsearch==0.0.17
texttable==1.6.3
thinc==7.4.1
tokenizers==0.8.1rc2
toml==0.10.1
tornado==6.0.4
tqdm==4.50.1
traitlets==5.0.4
transformers==3.3.1
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.10
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
Whoosh==2.7.4
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt==1.12.1
xpinyin==0.5.7
yapf==0.30.0
zh-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_lg-2.3.1/zh_core_web_lg-2.3.1.tar.gz
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
zope.cachedescriptors==4.3.1
